.cart-dropdown {
    position: absolute;
    width: 300px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.966);
    top: 90px;
    right: 20px;
    z-index: 5;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.109);
  

    .empty-cart{
      height:100px;
      font-size:15px;
      display: flex;
      font-weight: bold;
      justify-content: center;
      align-items: center;
    } 

    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }
  
    button {
      margin-top: auto;
    }
  }
  